In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [2]:
bj_data_to_load = os.path.join("/Users/anirbanmukherjee/Desktop/Anaconda/UNC_Project1/Team_Carolina/Project data","blkjckhands.csv")

#print(bj_data_to_load)

In [4]:
bj_data = pd.read_csv(bj_data_to_load)
bj_data.head()

,Unnamed: 0,PlayerNo,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,...,dealcard4,dealcard5,sumofdeal,blkjck,winloss,plybustbeat,dlbustbeat,plwinamt,dlwinamt,ply2cardsum
0,0,Player1,7,10,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
1,1,Player2,10,9,0,0,0,19,10,8,...,0,0,18,nowin,Win,Plwin,Beat,20,0,19
2,2,Player3,9,8,0,0,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,17
3,3,Player4,2,10,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12
4,4,Player5,10,2,0,5,0,17,10,8,...,0,0,18,nowin,Loss,Beat,Dlwin,0,10,12

In [5]:
c.describe()

,Unnamed: 0,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,dealcard3,dealcard4,dealcard5,sumofdeal,plwinamt,dlwinamt,ply2cardsum
count,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000,900000.000000
mean,2.500000,7.126259,7.089927,1.955088,2.336462,0.389787,18.897522,7.170380,7.129867,4.391293,1.380733,0.226433,20.298707,9.723528,4.775789,14.216186
std,1.707826,2.994719,3.008032,3.531830,3.657284,1.730740,3.210611,2.981575,2.990306,4.080103,3.038298,1.334263,2.556207,9.789798,4.994973,4.429873
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,8.000000,1.000000,1.000000,0.000000,0.000000,0.000000,8.000000,0.000000,0.000000,2.000000
25%,1.000000,5.000000,4.000000,0.000000,0.000000,0.000000,17.000000,5.000000,5.000000,0.000000,0.000000,0.000000,18.000000,0.000000,0.000000,12.000000
50%,2.500000,8.000000,8.000000,0.000000,0.000000,0.000000,19.000000,8.000000,8.000000,4.000000,0.000000,0.000000,20.000000,10.000000,0.000000,14.000000
75%,4.000000,10.000000,10.000000,2.000000,4.000000,0.000000,21.000000,10.000000,10.000000,9.000000,0.000000,0.000000,22.000000,20.000000,10.000000,18.000000
max,5.000000,11.000000,11.000000,11.000000,10.000000,10.000000,26.000000,11.000000,11.000000,11.000000,10.000000,10.000000,26.000000,25.000000,10.000000,21.000000

In [14]:
bj_data["start_hand"] = bj_data["card1"] + bj_data["card2"]
bj_data_ren = bj_data.rename(columns={"PlayerNo" : "player_no"})
bj_data_ren.head()

,Unnamed: 0,player_no,card1,card2,card3,card4,card5,sumofcards,dealcard1,dealcard2,...,dealcard5,sumofdeal,blkjck,winloss,plybustbeat,dlbustbeat,plwinamt,dlwinamt,ply2cardsum,start_hand
0,0,Player1,7,10,0,0,0,17,10,8,...,0,18,nowin,Loss,Beat,Dlwin,0,10,17,17
1,1,Player2,10,9,0,0,0,19,10,8,...,0,18,nowin,Win,Plwin,Beat,20,0,19,19
2,2,Player3,9,8,0,0,0,17,10,8,...,0,18,nowin,Loss,Beat,Dlwin,0,10,17,17
3,3,Player4,2,10,0,5,0,17,10,8,...,0,18,nowin,Loss,Beat,Dlwin,0,10,12,12
4,4,Player5,10,2,0,5,0,17,10,8,...,0,18,nowin,Loss,Beat,Dlwin,0,10,12,12

In [28]:
#organize data frame 
bj_data_1 = bj_data_ren[["start_hand", "winloss"]]
bj_data_2 = pd.DataFrame(bj_date_1)

bj_data_2.head()

   start_hand winloss
0          17    Loss
1          19     Win
2          17    Loss
3          12    Loss
4          12    Loss

In [34]:
start_hand = bj_data_2.pivot_table(values = "winloss", index = ["start_hand"], columns = ["winloss"],aggfunc = np.sum)
start_hand.head()

Empty DataFrame
Columns: []
Index: [2, 3, 4, 5, 6]